@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:80px;">
    <div class="col-lg-8 col-lg-offset-2">
        <legend>Success</legend>
        <legend><small>Yaaayyyyy!</small></legend>
    </div>
</div>
